
ul{
    display:flex;
    list-style-type:none;
}
ol{
    display:flex;
    list-style-type:none;
}
a{
    color: black;
    text-decoration: none;
    font-weight:bold;
}
a:hover{
    color: rgb(0, 68, 255);
    text-decoration:underline;

}
ul li{
    padding: 20PX;
}
ol li{
    padding: 20PX;
}
h1{
    font-weight: bold;  
}
p{
    font-weight: bold;
}
.cards{
    margin-left: 20PX;
    border: 2PX rgb(0, 0, 0) solid;
    width: 200PX;
    height: 350PX;
    padding: 2%;
    
}
#RR{
    color: rgb(167, 167, 167);
}
#SA{
    color: rgb(0, 212, 78);
}
.card{
    margin-top: 7PX;
    text-align: center;

}
.big {
    display:flex;

}
.card1{
    margin-top: 7PX;
    text-align: center;
    background-color: aqua;
    width: 90px;
    height: 30PX;
    border: 34PX rgb(0, 217, 255) solid;

}
.box{
    

    text-align: center;
    background-color: aqua;
    width: 100%;
    height: 160PX;
    }
.prodc{
    text-align: center;
}
